#!/usr/bin/env ruby

sass_options = {syntax: :scss, line_comments: true}
haml_options = {ugly: true}

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile "/assets/stylesheets/application" do
  filter :sass, sass_options
  filter :relativize_paths, type: :css
end

compile "/assets/javascripts/application" do
  filter :coffeescript
end

compile "/assets/*/" do
  nil
end

compile "*" do
  filter :erb
  filter :redcarpet
  layout "default"
  filter :relativize_paths, type: :html
end

route "/assets/stylesheets/application" do
  item.identifier.chop + ".css"
end

route "/assets/javascripts/application" do
  item.identifier.chop + ".js"
end

route "/assets/stylesheets/*/" do
  nil
end

route "/assets/*/" do
  item.identifier.chop
end

route "*" do
  item.identifier + "index.html"
end

layout "*", :haml, haml_options
