<div class="text-center">
  {% include language.html %}
</div>

<div class="jumbotron">
  <a class="jumbotron-logo" href="/"><i class="icon-logo"></i></a>

  {% include elevator-phrase.html %}
</div>

<nav class="jumbotron-navigation" role="navigation">
  <ol class="list-unstyled">

    {% for p in site.data.pages %}
      <li>
        {% case page.lang %}
        {% when "hr" %}
          <a href="/{{ p.path }}">
            <span>{{ p.title_hr }}</span>
          </a>
        {% when "en" %}
          <a href="/en/{{ p.path }}">
            <span>{{ p.title_en }}</span>
          </a>
        {% endcase %}
      </li>
    {% endfor %}

  </ol>
</nav>

<div class="container">
  {% include footer.html %}
</div>
