<div class="text-center">
  {% include language.html %}
</div>

<div class="jumbotron">
  <a class="jumbotron-logo" href="{{ site.baseurl }}"><i class="icon-logo"></i></a>

  {% include elevator-phrase.html %}
</div>

<nav class="jumbotron-navigation" role="navigation">
  <ol class="list-unstyled">

    {% for weight in (1..6) %}
      {% for p in site.data.pages %}
        {% if p.weight == weight %}

          <li>
            {% case page.lang %}
            {% when "hr" %}
              <a href="{{ site.baseurl }}{{ p.path }}">
                <span>{{ p.title_hr }}</span>
              </a>
            {% when "en" %}
              <a href="{{ site.baseurl }}en/{{ p.path }}">
                <span>{{ p.title_en }}</span>
              </a>
            {% endcase %}
          </lI>

        {% endif %}
      {% endfor %}
    {% endfor %}

  </ol>
</nav>

<div class="container">
  {% include footer.html %}
</div>
