<div class="navigation-bar visible-xs clearfix">
  <a class="navigation-toggle off-canvas-toggle" href="#"><i class="icon-menu"></i></a>
  <a class="navigation-logo" href="{{ site.baseurl }}"><i class="icon-logo"></i></a>

  {% include language.html %}
</div>


<nav class="navigation-desktop hidden-xs" role="navigation" class="list-group">
  <div class="list-group-item navigation-logo">
    <a href="{{ site.baseurl }}"><i class="icon-logo"></i></a>
  </div>

  {% for weight in (1..6) %}
    {% for p in site.data.pages %}
      {% if p.weight == weight %}

        {% if p.path == page.path %}
          {% assign klass="active" %}
        {% else %}
          {% assign klass="" %}
        {% endif %}

        {% case page.lang %}
        {% when "hr" %}
          <a class="list-group-item {{ klass }}" href="{{ site.baseurl }}{{ p.path }}">{{ p.title_hr }}</a>
        {% when "en" %}
          <a class="list-group-item {{ klass }}" href="{{ site.baseurl }}en/{{ p.path }}">{{ p.title_en }}</a>
        {% endcase %}

      {% endif %}
    {% endfor %}
  {% endfor %}
</nav>
