<div class="navigation-bar visible-xs clearfix">
  <a class="navigation-toggle off-canvas-toggle" href="#"><i class="icon-menu"></i></a>
  <a class="navigation-logo" href="{{ site.baseurl }}"><i class="icon-logo"></i></a>
</div>


<nav class="navigation-desktop hidden-xs" role="navigation" class="list-group">
  <div class="list-group-item navigation-logo">
    <a href="{{ site.baseurl }}"><i class="icon-logo"></i></a>
  </div>

  {% for weight in (1..5) %}
    {% for p in site.pages %}
      {% if p.weight == weight %}
        {% if p.title == page.title %}
          {% assign klass='active' %}
        {% else %}
          {% assign klass='' %}
        {% endif %}

        <a class="list-group-item {{ klass }}" href="{{ p.url | remove: 'index.html' }}">{{ p.title }}</a>

      {% endif %}
    {% endfor %}
  {% endfor %}
</nav>
