<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">
        <i class="icon-sig"></i>
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% for weight in (1..5) %}
          {% for p in site.pages %}
            {% if p.weight == weight %}
              {% if p.title == page.title %}
                {% assign klass='active' %}
              {% else %}
                {% assign klass='' %}
              {% endif %}

              <li class="{{ klass }}">
                <a href="{{ p.url | remove: 'index.html' }}">{{ p.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
