<div class="social">
  <div class="social-item facebook">
    <a href="//www.facebook.com/tihana.tamindzic">
      <i class="icon-facebook"></i>
      <span>Facebook</span>
    </a>
  </div>

  <div class="social-item email">
    <a href="mailto:coach@tihanatamindzic.com">
      <i class="icon-envelop"></i>
      <span>Email</span>
    </a>
  </div>

  <div class="social-item linkedin">
    <a href="//hr.linkedin.com/in/tihanatamindzic/">
      <i class="icon-linkedin"></i>
      <span>LinkedIn</span>
    </a>
  </div>

  <div class="social-item phone">
    <i class="icon-phone"></i>
    <span>+385 98 186 10 40</span>
  </div>
</div>
