html {
  background-color: $site-bg-color;
  color: $base-text-color;
  font-family: $base-font-family;
  font-weight: nth($base-weight, 1);
}

body {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: nth($base-weight, 1);
  color: black;
}

h1 {
  @include font-size($h1-size);
  font-weight: nth($base-weight, 2);
  color: nth($colors, 2);
}

h2 {
  @include font-size($h2-size);
  @include bleed(left);
  padding-left: $hsu;
  padding-bottom: $hsu;
  border-left: $bsu solid;
  color: nth($colors, 4);
  font-weight: nth($base-weight, 1);

  b {
    &:before {
      content: "\2013";
    }
  }

  @include media-query(lap-and-up) {
    @include no-bleed;
    border-left: none;
    border-bottom: 1px solid rgba(black, .15);
  }
}

h3 {
  @include font-size($h3-size);
  margin-bottom: $bsu;
  font-weight: nth($base-weight, 1);

  b:before {
    content: "\2014";
  }
}

a {
  @include color-link($link-color, $link-hover);
  text-decoration: none;

  @include on-interact {
    text-decoration: underline;
  }
}

em, i {
  font-style: normal;
}

img, iframe {
  padding: 4px;
  border: 2px solid $red;
  border-radius: 2px;
}

iframe {
  display: none;
  @include media-query(lap-and-up) {
    display: inline-block;
  }
}

time {
  display: block;
}

blockquote {
  font-style: normal;
  color: tint(nth($colors, 2), 30%);

  > * {
    margin-bottom: $hsu;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
