.brand {
  text-align: center;

  a {
    display: inline-block;
    padding-top: $hsu;
    padding-bottom: $bsu;
    text-decoration: none;
    font-size: 3.5 * 16px;
    line-height: 1;
    vertical-align: middle;

    .sidebar & {
      @include color-link(white);
    }
  }

  .hero-unit & {
    position: relative;
    z-index: 2;
    margin-top: $hsu;
    text-indent: -6 * $bsu;

    a {
      @include color-link(white);
      font-size: 5 * 16px;
      text-shadow: rgba(black, .5) 1px 1px;
    }
  }

  i {
    @include position(relative, 0 0 0 -16px);
  }
}
