.contact {
  margin-bottom: $bsu;
  font-weight: nth($base-weight, 1);

  a, .contact-item > * {
    display: inline-block;
    padding: $hsu/2;
  }

  a {
    text-decoration: none;
  }

  i, .contact-label {
    display: inline-block;
    vertical-align: middle;
  }

  $size: 32px;
  i {
    font-size: $size;
    margin-right: $hsu/2;
  }

  .icon-phone {
    @include size($size);
    background-color: $main-text-color;
    border-radius: 50%;
    color: $main-bg-color;
    text-align: center;
    text-indent: -1px;
    font-size: $size - 12px;
    line-height: $size;
  }
}

@mixin contact-item($color) {
  $c1: lighten($color, 10%);
  $c2: darken($c1, 15%);
  @include color-link($c1, $c2);
}

@each $item in
  facebook $facebook-color,
  twitter $twitter-color,
  vimeo $vimeo-color,
  email $email-color {
    .contact-#{nth($item, 1)} {
      @include contact-item(nth($item, 2));
    }
}
