.elevator-phrase {
  @include font-size(56px);
  line-height: $bsu;
  padding: $hsu;
  background-color: tint(black, 15%);
  position: relative;
  z-index: 3;
  border-top: 1px solid tint(black, 30%);
  border-bottom: 1px solid black;
  box-shadow:
    white 0 3px 0 3px,
    black 0 0 7px;
  color: white;
  text-align: center;
  text-transform: lowercase;
  text-shadow: black 1px 1px 0;
  font-variant: small-caps;
  letter-spacing: 2px;
  font-weight: nth($base-weight, 1);
}
