$size: 1024px 600px;

.hero-unit {
  position: relative;
  height: nth($size, 2) + 4px;
  overflow: hidden;
  @include media-query(desk-and-up) {
    background-color: tint(black, 10%);
    color: white;
  }

  .l-container {
    position: relative;
    z-index: 1;
    height: 100%;
  }
}

.hero-unit-background {
  @include img-clear-default;
  position: absolute;
  left: 50%;
  margin-left: - nth($size, 1)/2;
  border: 1px solid rgba(black, .75);
  border-top: 0;
}
