.more {
  .js & {
    display: none;
  }
}

.more-expand {
  @include size((2 * $bsu) $bsu);
  @include color-link($link-hover, white);
  display: inline-block;
  margin-bottom: $bsu;
  background-color: rgba($link-hover, .25);
  border: 1px solid $link-hover;
  border-radius: $bsu;
  text-align: center;
  letter-spacing: 2px;
  @include on-interact {
    background-color: $link-hover;
    text-decoration: none;
  }

  .no-js & {
    display: none;
  }
}
