.table {
  thead {
    color: white;
    text-align: left;
    background-color: $green;
  }

  td, th {
    padding: $hsu/2 $hsu;
    border: 2px solid white;
  }

  th {
    border-bottom: 2px solid darken($green, 20%);
  }
}
