.page-collapsable {
  .no-js & {
    .page-header ~ * {
      display: none;
    }
  }

  .is-collapsed {
    @include link-color(rgba(black, .5), black);
    @include font-size(24px);
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 1px;
    cursor: pointer;

    + div {
      display: none;
    }
  }
}
