.page-header {
  margin-top: 0;
  margin-bottom: $suh;
  padding-bottom: $suh - 1px;

  h1 {
    margin-bottom: 0;
    color: $brand-primary;
    font-weight: 700;
  }

  @media (min-width: $screen-sm-min) {
    margin-top: $sub * .5;
    margin-bottom: $sub - 1px;
  }
}
