.copyright
  .copyright-item
    %span.copyright-icon ©
    %span.copyright-person Tihana Tamindžić
    2012.

  .copyright-item
    -# %i.copyright-icon.icon-palette
    .copyright-function Dizajnirao
    %a.copyright-person{href: "http://twitter.com/silvenon"} Matija Marohnić

  .copyright-item
    -# %i.copyright-icon.icon-camera
    .copyright-function Fotografirala
    %a.copyright-person{href: "http://fotozine.org/?omen=Airamana"} Anamaria Kudrna
