.project
  %h2.project-title KrkaM
  %p.project-description Coaching &amp; walking trening u NP Krka za menadžere.
  %a.project-details{href: "http://www.ventusvitae.hr/2013/01/28/program-krka-m/", target: "_blank"}
    %i.icon-link
    Saznaj više
