.contact
  .contact-item
    %a.contact-facebook{href: "//www.facebook.com/tihana.tamindzic"}
      %i.icon-facebook
      %span.contact-label Facebook

  -# .contact-item
  -#   %a.contact-twitter{href: "//twitter.com/tihanatamindzic"}
  -#     %i.icon-twitter
  -#     %span.contact-label Twitter

  .contact-item
    %a.contact-email{href: "mailto:coach@tihanatamindzic.com"}
      %i.icon-mail
      %span.contact-label Email

  .contact-item
    %span.contact-phone
      %i.icon-phone
      %span.contact-label +385 98 186 10 40
