body {
}

.container {
  max-width: $container-width;
}

main {
  color: rgba(black, .8);

  img {
    @extend .img-responsive;
    @extend .img-thumbnail;
  }

  iframe {
    margin-bottom: $suh;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

@each $pair in
  h1 32px 1.5,
  h2 30px 1,
  h3 24px 1 {

    $selector:    nth($pair, 1);
    $font-size:   nth($pair, 2);
    $line-height: nth($pair, 3);

    #{$selector} {
      @include font-size($font-size, $line-height);
    }

}

h2, h3 {
  margin-top: $sub;
  margin-bottom: $sub;
}

strong {
  color: $color-primary;
}

@media (min-width: $screen-sm-min) {
  @each $pair in
    h1 48px 2,
    h2 42px 1.5,
    h3 28px 1.5 {

      $selector:    nth($pair, 1);
      $font-size:   nth($pair, 2);
      $line-height: nth($pair, 3);

      #{$selector} {
        @include font-size($font-size, $line-height);
      }

  }
}
