body {
}

.container {
  max-width: $container-width;
}

main {
  color: rgba(black, .8);

  img {
    @extend .img-responsive;
    @extend .img-thumbnail;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

h1 {
  @include font-size($font-size-h1);
}

h2 {
  @include font-size($font-size-h2, 1.5);
}

h3 {
  @include font-size($font-size-h3, 1.5);
}

h2, h3 {
  margin-top: $sub;
  margin-bottom: $sub;
}

strong {
  color: $color-primary;
}
