.landing {
  .footer {
    margin-top: 0;
    padding-top: $suh;
    padding-bottom: $suh;
    border-top: none;
    text-align: center;

    @media (min-width: $screen-sm-min) {
      margin-top: $sub;
    }
  }
}
