.navigation {
  @include font-size(19px);
  max-width: 300px;
  margin-top: $sub;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 1px;

  .logo {
    height: $sub * 4.5;
    padding-top: $sub * 1.6;
    padding-bottom: $suh;
    font-size: 60px;
    line-height: 1;
    text-align: center;

    a {
      @include link-color(rgba(black, .25), $link-color);
      @include transition(color .2s);
      font-family: icomoon;

      @include on-interact {
        text-decoration: none;
      }
    }

    i {
      @include position(relative, 0 0 0 (-$suh));
    }
  }

  @media (min-width: $screen-sm-min) {
    margin-top: 0;
    max-width: none;
    width: 230px;
    position: fixed;

    .list-group-item {
      &:first-child {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }

  @media (min-width: $container-width) {
    width: 300px - $grid-gutter-width;
  }
}
