.elevator-phrase {
  @include position(absolute, 0 0px $suh 0px);
  @include font-size(30px, 1.5);
  text-align: right;
  color: #fff;

  @media (min-width: $screen-sm-min) {
    @include font-size(32px, 1.5);
    bottom: $sub * 2.5;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 1px;
  }
}
