.navigation-bar {
  > a {
    display: inline-block;
    float: left;
    padding: $suh;

    @include on-interact {
      text-decoration: none;
    }

    &:first-child {
      margin-left: - $suh;
    }
  }

  .navigation-logo {
    padding: 0;
    font-family: icomoon;
    font-size: 30px;

    i {
      @include position(relative, -2px 0 0 0);
    }
  }
}

.navigation-mobile,
.navigation-desktop {
  @include font-size(19px);
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 1px;
}

.navigation-desktop {
  max-width: 300px;
  margin-top: $suh;
  margin-bottom: $sub;

  .navigation-logo {
    font-size: 60px;
    line-height: 1;
    text-align: center;

    a {
      @include link-color(rgba(black, .25), $link-color);
      @include transition(color .2s);
      font-family: icomoon;

      @include on-interact {
        text-decoration: none;
      }
    }

    i {
      @include position(relative, 0 0 0 (-$suh));
    }
  }

  @media (min-width: $screen-sm-min) {
    margin-top: 0;
    max-width: none;
    width: 230px;
    position: fixed;

    .list-group-item {
      &:first-child {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    .navigation-logo {
      height: $sub * 4.5;
      padding-top: $sub * 1.6;
      padding-bottom: $suh;
    }
  }

  @media (min-width: $container-width) {
    width: 300px - $grid-gutter-width;
  }
}
