<!DOCTYPE html>
<html class="no-js" lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} · {{ site.name }}</title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include webfonts.html %}
    {% include analytics.html %}
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body class="page-{{ page.path }} {{ page.class }}">
    <div class="off-canvas-outer">
      <div class="off-canvas-inner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-4">
              {% include navigation.html %}
            </div>

            <div class="col-xs-12 col-sm-8">
              <div class="hidden-xs">
                {% include language.html %}
              </div>

              <main role="main">
                <div class="page-header">
                  <h1>{{ page.title }}</h1>
                </div>

                {{ content }}

              </main>
            </div>
          </div>
        </div>

        <ul class="navigation-mobile off-canvas-navigation nav nav-pills nav-stacked visible-xs">

          {% for p in site.data.pages %}
            {% case page.title %}
            {% when p.title_hr or p.title_en %}
              {% assign klass="active" %}
            {% else %}
              {% assign klass="" %}
            {% endcase %}

            {% case page.lang %}
            {% when "hr" %}
              <li class="{{ klass }}"><a href="/{{ p.path }}">{{ p.title_hr }}</a></li>
            {% when "en" %}
              <li class="{{ klass }}"><a href="/en/{{ p.path }}">{{ p.title_en }}</a></li>
            {% endcase %}
          {% endfor %}

        </ul>

        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-offset-4 col-sm-8">
              {% include footer.html %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include js.html %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <script src="/javascripts/globals.js"></script>

    <script src="/javascripts/collapse.js"></script>
    <script src="/javascripts/more.js"></script>
    <script src="/javascripts/off-canvas.js"></script>
  </body>
</html>
