<!DOCTYPE html>
<html class="no-js" lang="{{ page.lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }} · {{ site.name }}</title>
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include webfonts.html %}
    {% include analytics.html %}
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>

  <body class="page-landing">

    {{ content }}

    {% include js.html %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <script src="/javascripts/globals.js"></script>

    <script src="/javascripts/collapse.js"></script>
    <script src="/javascripts/more.js"></script>
    <script src="/javascripts/off-canvas.js"></script>
  </body>
</html>
