// paths

$image-dir:         "/assets/images";

// type

$base-font-size:    14px;
$base-line-height:  28px;

// layout

$desk-start:        1024px;
$gutter-width:      1.0 * $base-line-height;
$site-padding:      $base-line-height;
