.main {
  color: $main-text-color;
  background-color: $main-bg-color;
  background-image: image-url("baloons.png");
  background-repeat: no-repeat;
  background-position: 65% -70px;
  border-top: 3px solid white;
}

.main-body {
  padding-top: $bsu;
}
