.l-page-index {
  .header,
  .footer {
    text-align: center;
  }

  .brand {
    a {
      padding-top: 0;
      padding-bottom: $hsu;
    }
  }

  .footer {
    border-top: none;
  }

  .copyright {
    margin-left: 0;
  }
}
