.sidebar {
  @include position(absolute, 0px 0 0 0);
  z-index: 3;
  width: $sidebar-width;
  padding-top: $hsu;
  background-color: $sidebar-bg-color;
  border-left: 3px solid white;
  border-right: 3px solid white;
}

.sidebar-body {
}
